
// Used mostly for light backgrounds.
$first-color: #FCFCFC;

// Used mostly for large headlines (..and sub-headlines).
$second-color: #fff;

// Used mostly for smaller headlines.
$third-color: #000;

// Used  mostly to accentuate items.
$fourth-color: #75F2CE;

// Used mostly for dark backgrounds.
$fifth-color:  #424242;
