{% include header.html language=page.language %}
{% include loading_screen.html language=page.language %}
<div class="mainboard">
    <div class="wrapper">
        <div class="introduction">
          <h1 class="introduction__headline">ÄR NI I BEHOV AV EN WEBDESIGNER?</h1>
          <p class="introduction__text">Mitt namn är Marcus Nilsson, en grafisk designer och webbutvecklare bosatt i centrala Jönköping. Kort sagt så är jag en tekniskt intresserad person med färdigheter innom front-end, back-end, grafisk design, 3d-visualisering och fotografering.</p>
        </div>
        <div class="information-container">
          <div class="textblock">
            <h2 class="textblock__headline"> Vem är jag?</h2>
            <p class="textblock__text">
              Jag anses vara en ordningsam och relativt envis person som fungerar bra både vid grupp- och individuelltarbete.
              Jag försöker att alltid sätta ödmjukhet och respekt före prestige och har därför inga problem att ta kritik eller att erkänna om det är jag som gjort fel.
              Jag anser mig själv fungera bäst under ledning av andra, men har inga problem att själv leda om situationen kräver det.
            </p>
          </div>

          <div class="textblock">
            <h2 class="textblock__headline">Mina ambitioner</h2>
            <p class="textblock__text">
              Mitt personliga mål med  en tjänst skulle vara att kunna utveckla mina kunskaper inom främst front-end.
              Detta skulle kunna ske genom att ges möjligheten att arbeta mer med olika standarder och paradigm som råder inom programmeringsvärlden idag.
            </p>
          </div>

          <div class="textblock">
            <h2 class="textblock__headline">Utskott och sidoprojekt</h2>
            <p class="textblock__text">
              Under studietiden spenderade jag mycket tid med att engagera mig inom radio och TV- utskottet samt ett nystartat grafisk utskott.
              Radio och TV-uskottet ledde mig till att starta spelpodcasten “Spelfronten”, samt hjälpa till vid uppstarten av webb-tv kanalen “Nordic Gamer”.
              Detta landade mig senare ett ideellt jobb som webb-tv reporter för den Svenska filiallen av spelsitesföretaget Imagine Games Network, IGN.
            </p>
          </div>
        </div>

        <div class="information-container">
          <div class="textblock">
              <h2 class="textblock__headline">Vilka är mina kunskaper?</h2>
              <p class="textblock__text">
                Vikten av att lära sig Javascript var stor under min utbildning vilket gjorde att jag lade ner mycket av min tid på att lära mig språket grundligt.
                Efter att man blivit bekväm med javascript så förföll det naturligt att även lära sig <span class="bold">jQuery</span>.
              </p>
          </div>

          <div class="textblock">
            <p class="textblock__text">
              Förutom <span class="bold">javascript</span> så har jag även lagt ner mycket tid på att lära mig CMS:et
              <span class="bold">wordpress</span>. Mina kunskaper inom wordpress har tillämpats när jag skapade min egen sida “Spelfronten”,
              när jag hjälpte till med Husqvarna Centers etablering på nätet. Samt vid skapandet av en webbplats åt “Hi-work”-mässan på Jönköpings Tekniska Högskola.
            </p>
          </div>
          <div class="textblock">
            <p class="textblock__text">
              <span class="bold">PHP</span> är även ett språk som jag anser mig kunna tillämpa.
              Språket fick jag lära mig den hårda vägen då en av uppgifterna under min utbildning var att i grupp skapa en webbshop från början till slut.
              På grund av olika omständigheter så slutade det upp med att jag slutförde uppgiften själv.
            </p>
          </div>
        </div>

        <div class="information-container">
          <div class="cloudbox">
            <h2  id="skills" class="cloudbox__headline">FÄRDIGHETER</h2>
            <span class="cloudbox__item">HTML5</span>
            <span class="cloudbox__item">CSS3</span>
            <span class="cloudbox__item">JAVASCRIPT</span>
            <span class="cloudbox__item">ANGGULARJS</span>
            <span class="cloudbox__item">METEOR</span>
            <span class="cloudbox__item">JQUERY</span>
            <span class="cloudbox__item">PHP</span>
            <span class="cloudbox__item">SASS</span>
            <span class="cloudbox__item">MYSQL</span>
            <span class="cloudbox__item">PHOTOSHOP</span>
            <span class="cloudbox__item">SKETCH</span>
            <span class="cloudbox__item">ILLUSTRATOR</span>
            <span class="cloudbox__item">3D-MODELLERING</span>
            <span class="cloudbox__item">WORDPRESS</span>
            <span class="cloudbox__item">GIT</span>
            <span class="cloudbox__item">GULP</span>
            <span class="cloudbox__item">BEM</span>
          </div>
        </div>
      </div>
</div>


{% include footer.html language=page.language %}
