{% include header.html language=page.language %}
{% include loading_screen.html language=page.language %}
<div class="mainboard">
    <div class="wrapper">
        <div class="introduction">
          <h1 class="introduction__headline">
            ARE YOU IN NEED OF A FRONT-END DEVELOPER?
          </h1>
          <p class="introduction__text">
            My name is Marcus Nilsson, a graphical designer and front-end developer
            from Sweden, currently residing in Melbourne, CBD. To summarize myself,
            I'm a technically interested person with skills in front-end, back-end,
            graphical design, 3d-visualisation och photography.
          </p>
        </div>
        <div class="information-container">
          <div class="textblock">
            <h2 class="textblock__headline">Who am I?</h2>
            <p class="textblock__text">
              I am often seen as a carefull and methodical person that is good at working in both groups as well as on my own.
              When I work I always try to be humble and respectfull to collegues and clients alike, instead of trying to "elbow-my-way-through" for prestige.
              This mentality has led to me having no problems with accepting critique or admitting when I'm at fault for something.
              In groups I often prefer and work better under the leadership of someone else, but if the situation calls for it
              I have to problems with stepping up taking the "reins" myself.
            </p>
          </div>

          <div class="textblock">
            <h2 class="textblock__headline">My ambitions</h2>
            <p class="textblock__text">
              My personal ambitions with employment in your company, would be to experience what it's like to work
              internationally, get new contacts, and to get new perspectives on best-practices in the industry.
            </p>
          </div>

          <div class="textblock">
            <h2 class="textblock__headline">My studies</h2>
            <p class="textblock__text">
              During the time i studied graphical-design and webdevelopment, I was also very active in
              many activities taking place on the campus during after-lecture-hours. Some of the activities
              included learning to host and produce radio- and TV-shows, while others had me doing the
              graphical design for posters of upcomming events on the school campus. It was during this
              time that I started up the podcast "spelfronten", this would later lead me to land a job as a
              web-TV reporter for the game-journalism company: Imagine Games Network, IGN.
            </p>
          </div>
        </div>

        <div class="information-container">
          <div class="textblock">
              <h2 class="textblock__headline">What are my skills? </h2>
              <p class="textblock__text">
                The programming language that I would consider myself most profficient in, is <span class="bold">Javascript</span>.
                Javascript has been a core language ever since I started learning programming. This also
                led me to later start using <span class="bold">Jquery</span> when that came to be popular. At my last employment I
                got to learn the framework <span class="bold">AngularJS</span> with which I been using for about a year now
              </p>
          </div>

          <div class="textblock">
            <p class="textblock__text">
              Another javascript framwork I’ve been working with is <span class="bold">Meteor</span>, a framework I’ve mostly use
              to prototype new app ideas I have.
            </p>
          </div>

          <div class="textblock">
            <p class="textblock__text">
              Besides Javascript I also learned <span class="bold">PHP</span> and the CMS <span class="bold">Wordpress</span> during my studies. Many of the
              sites created in wordpress are unfortunately not active anymore.
            </p>
          </div>

          <div class="textblock">
            <p class="textblock__text">
              Lately, I've been working with static-page builders like <span class="bold">Jekyll</span>, Jekyll was used to create
              the web version of this curriculum, but also for my blog “Tales from the kangaroo lands”.
            </p>
          </div>
        </div>

        <div class="information-container">
          <div class="cloudbox">
            <h2  id="skills" class="cloudbox__headline">SKILLS</h2>
            <span class="cloudbox__item">HTML5</span>
            <span class="cloudbox__item">CSS3</span>
            <span class="cloudbox__item">JAVASCRIPT</span>
            <span class="cloudbox__item">ANGGULARJS</span>
            <span class="cloudbox__item">METEOR</span>
            <span class="cloudbox__item">JQUERY</span>
            <span class="cloudbox__item">PHP</span>
            <span class="cloudbox__item">SASS</span>
            <span class="cloudbox__item">MYSQL</span>
            <span class="cloudbox__item">PHOTOSHOP</span>
            <span class="cloudbox__item">SKETCH</span>
            <span class="cloudbox__item">ILLUSTRATOR</span>
            <span class="cloudbox__item">3D-MODELLING</span>
            <span class="cloudbox__item">WORDPRESS</span>
            <span class="cloudbox__item">GIT</span>
            <span class="cloudbox__item">GULP</span>
            <span class="cloudbox__item">BEM</span>
          </div>
        </div>
      </div>
</div>

{% include footer.html language=page.language %}
